/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Prompt:300,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

body {
  background: #f5f5f5 url(../images/bg.png) repeat-y 15px top;
  font: 300 14px "Prompt", sans-serif;
  padding-left: 120px;
}

.title {
  font: 50px "Permanent Marker", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #830303;
  text-shadow: 4px 3px 0 #000;
  margin-bottom: 20px;
  float: left;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movies .movie {
  position: relative;
  max-width: 185px;
  width: 100%;
  max-height: 320px;
  height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 45px 20px;
}

.movies .movie:hover {
  cursor: pointer;
}

.movies .movie:hover .movie__info {
  padding: 10px 5px;
  height: inherit;
  top: -8px;
  border: 8px solid black;
  border-bottom: none;
  overflow-y: scroll;
}

.movies .movie:hover .movie__info::-webkit-scrollbar {
  width: 2px;
}

.movies .movie:hover .movie__title {
  bottom: 80%;
}

.movies .movie .roll {
  position: absolute;
  left: 0;
  top: -75px;
  width: inherit;
}

.movies .movie .poster {
  width: inherit;
  height: inherit;
  border: 8px solid black;
  border-top: none;
  border-radius: 10px;
}

.movies .movie__title {
  position: absolute;
  padding: 10px 5px;
  font: 600 15px "Prompt", sans-serif;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.movies .movie__info {
  font: 600 15px "Prompt", sans-serif;
  top: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: inherit;
  height: 0px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.movies .movie__info h3 {
  font-size: 13px;
  font-weight: 300;
}

.movies .movie__info h3:first-child {
  margin-top: 20px;
}

.movies .movie__info b {
  font-weight: 600;
}

.movies .movie__info p {
  font-size: 13px;
  font-weight: 300;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 40px;
}

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px auto 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search__field {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  background: transparent;
}

.search__btn {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffcd url("../images/preloader.svg") no-repeat center;
  z-index: 99;
}

.hide {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(152, 158, 153, 0.7);
}

.hide-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews {
  position: relative;
  font: "Prompt", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#514a9d), to(#24c6dc));
  background: linear-gradient(to right, #514a9d, #24c6dc);
  padding: 20px 20px;
  width: 30%;
  height: 30%;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .reviews {
    width: 60%;
    height: 60%;
  }
}

.reviews::-webkit-scrollbar {
  width: 10px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.reviews__info {
  font-size: 20px;
}

.reviews__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 30px;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */